body{
    background-color: rgba(0, 0, 0, 0.926);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
form{
    background-color: rgba(12, 158, 243, 0.488);
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
}
form input{
    background-color: rgba(1, 18, 26, 0.61);
    border: none;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.981);
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
    
}
form button{
    background-color:rgba(7, 18, 182, 0.765);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px 10px;
    flex-basis: 30px;
    flex-grow: 1;
}